{% extends "account/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans 'Sign Out' %}{% endblock %}
{% block content_header %}
    <h1>
        {% trans 'Sign Out' %}
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-user"></i> {% trans 'Sign Out' %}</a></li>
    </ol>
{% endblock %}
{% block registration_content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans 'Sign Out' %}</h3>
                </div>
                <div class="box-body">
                    <p>{% trans 'Are you sure you want to sign out?' %}</p>

                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit" class="btn btn-warning btn-flat">{% trans 'Sign Out' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
