amqp==2.2.2
asgi-ipc==1.4.2
asgi-redis==1.4.3
asgiref==1.1.2
attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
channels==1.1.8
chardet==3.0.4
constantly==15.1.0
daphne==1.4.2
defusedxml==0.5.0
Django==2.0.1
django-allauth==0.34.0
django-anymail==1.2
django-appconf==1.0.2
django-compressor==2.2
django-crispy-forms==1.7.0
django-debug-toolbar==1.9.1
django-generator==0.1
django-npm==1.0.0
django-parsley==0.7
ephem==3.7.6.0
futures==3.1.1
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
kombu==4.1.0
msgpack-python==0.5.1
oauthlib==2.0.6
posix-ipc==1.0.3
python-memcached==1.59
python3-openid==3.1.0
pytz==2017.3
rcssmin==1.0.6
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
rjsmin==1.0.12
six==1.11.0
sqlparse==0.2.4
Twisted==17.9.0
txaio==2.8.2
urllib3==1.22
vine==1.1.4
zope.interface==4.4.3
