celery==4.1.0
channels==2.0.2
Django==2.0.2
django-allauth==0.35.0
django-anymail==1.4
django-compressor==2.2
django-crispy-forms==1.7.0
django-debug-toolbar==1.9.1
django-generator==0.1
django-npm==1.0.0
django-parsley==0.7
kombu==4.1.0
redis==2.10.6